/* --- CSS RESET --- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* --- CSS RESET END --- */

body { 
    background-color: #FFEEDF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

button {
    background-color: #1C5A4E;
    width: 240px;
    height: 240px; 
    border-radius: 120px; /*  */

    color: #FFEEDF; 
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center; 
}

span {
    height: 265 px;
}
